@import 'styles/variables';

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
  border: 1px solid red;
}
